In [2]:
import requests
from pprint import pprint
import pandas as pd

url = "https://airbnb19.p.rapidapi.com/api/v1/searchPropertyByPlace"

#querystring = {"id":"ChIJ7cv00DwsDogRAMDACa2m4K8","currency":"USD","adults":"1"}

headers = {
	"X-RapidAPI-Key": "",
	"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"
}

#response = requests.request("GET", url, headers=headers, params=querystring).json()

#pprint(response)

In [22]:
def api_search(city_code, currency, adults):

    querystring = {"id": city_code, "currency": currency, "adults": adults}

    response = requests.request("GET", url, headers=headers, params=querystring).json()
    
    identifiers, cities, prices, adults, ratings, baths, beds = [], [], [], [], [], [], []

    for i in range(20): 
        identifier = response["data"][i]["id"]
        identifiers.append(identifier)
        
        city = response["data"][i]["city"]
        cities.append(city)
        
        price = response["data"][i]["accessibilityLabel"]
        prices.append(price)
        
        adult = response["data"][i]["adults"]
        adults.append(adult)

        rating = response["data"][i]["avgRating"]
        ratings.append(rating)

        bath = response["data"][i]["bathrooms"]
        baths.append(bath)
        
        bed = response["data"][i]["bedrooms"]
        beds.append(bed)
        
        air_dict = {"Identifier": identifiers, "City": cities, "Price": prices, "Adults": adults, "Rating": ratings, "Baths": baths, "Beds": beds}
    
    
    return air_dict

In [26]:
chicago_search = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "1")

In [27]:
chicago_search

{'Identifier': ['49733631',
  '761839635263817767',
  '565264608846878165',
  '614631484350436569',
  '638451409169993182',
  '53607494',
  '745097597148136764',
  '704582593768746311',
  '49967604',
  '21282070',
  '19123858',
  '715399230926264330',
  '20834660',
  '25364757',
  '48157334',
  '690674302685751258',
  '49516679',
  '665267097568238532',
  '690669427617857102',
  '25185506'],
 'City': ['Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago',
  'Chicago'],
 'Price': ['$63 per night',
  '$35 per night',
  '$69 per night',
  '$80 per night',
  '$26 per night',
  '$72 per night',
  '$83 per night',
  '$103 per night',
  '$72 per night',
  '$61 per night',
  '$45 per night',
  '$59 per night',
  '$82 per night',
  '$62 per night',
  '$64 per night',
  '$74 per night',
  '$35 per night',
  '$56 per night',
  '$60 per night',
  '$34 per night'],
 'Adults': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 'Rating': [4.89,
  None,
  4.71,
  4.78,
  4.9,
  4.82,
  4.5,
  5,
  4.78,
  4.89,
  4.82,
  None,
  4.89,
  4.8,
  None,
  4.78,
  4.77,
  4.69,
  4.62,
  4.6],
 'Baths': [1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2],
 'Beds': [0, 1, 1, 0, 1, 1, 1, 2, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1]}

In [28]:
# price = response["data"][1]["accessibilityLabel"]
# price

In [29]:
air_bnb = pd.DataFrame(chicago_search)
air_bnb

            Identifier     City           Price  Adults  Rating  Baths  Beds
0             49733631  Chicago   $63 per night       1    4.89      1     0
1   761839635263817767  Chicago   $35 per night       1     NaN      1     1
2   565264608846878165  Chicago   $69 per night       1    4.71      1     1
3   614631484350436569  Chicago   $80 per night       1    4.78      1     0
4   638451409169993182  Chicago   $26 per night       1    4.90      2     1
5             53607494  Chicago   $72 per night       1    4.82      1     1
6   745097597148136764  Chicago   $83 per night       1    4.50      1     1
7   704582593768746311  Chicago  $103 per night       1    5.00      2     2
8             49967604  Chicago   $72 per night       1    4.78      1     1
9             21282070  Chicago   $61 per night       1    4.89      1     1
10            19123858  Chicago   $45 per night       1    4.82      1     0
11  715399230926264330  Chicago   $59 per night       1     NaN      1     1
12            20834660  Chicago   $82 per night       1    4.89      1     1
13            25364757  Chicago   $62 per night       1    4.80      1     0
14            48157334  Chicago   $64 per night       1     NaN      1     1
15  690674302685751258  Chicago   $74 per night       1    4.78      1     1
16            49516679  Chicago   $35 per night       1    4.77      1     1
17  665267097568238532  Chicago   $56 per night       1    4.69      1     0
18  690669427617857102  Chicago   $60 per night       1    4.62      1     0
19            25185506  Chicago   $34 per night       1    4.60      2     1