In [15]:
import requests
from pprint import pprint
import pandas as pd

url = "https://airbnb19.p.rapidapi.com/api/v1/searchPropertyByPlace"

headers = {
	"X-RapidAPI-Key": "",
	"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"
}

In [16]:
data_to_load = "Resources/airbnb_listings.csv"
air_data = pd.read_csv(data_to_load)
air_data

/var/folders/jg/6trrgcbd7s94jnb11pjg88rr0000gn/T/ipykernel_12333/3088446070.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  air_data = pd.read_csv(data_to_load)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.597790,-82.555400,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,NaN,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,NaN,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,NaN,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,NaN,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [17]:
del air_data["neighbourhood"]
del air_data["neighbourhood_group"]

air_data

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,28804,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,28801,35.597790,-82.555400,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,28801,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,28806,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,28801,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [29]:
air_data_rename = air_data.rename(columns = {"id": "Identifier"})
air_data_rename

,Identifier,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,28804,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,28801,35.597790,-82.555400,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,28801,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,28806,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,28801,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [18]:
def api_search(city_code, currency, adults):

    querystring = {"id": city_code, "currency": currency, "adults": adults, "totalRecords": "40"}

    response = requests.request("GET", url, headers=headers, params=querystring).json()
    
    identifiers, cities, prices, adults, ratings, baths, beds = [], [], [], [], [], [], []

    for i in range(40): 
        identifier = response["data"][i]["id"]
        identifiers.append(identifier)
        
        city = response["data"][i]["city"]
        cities.append(city)
        
        price = response["data"][i]["accessibilityLabel"]
        prices.append(price)
        
        adult = response["data"][i]["adults"]
        adults.append(adult)

        rating = response["data"][i]["avgRating"]
        ratings.append(rating)

        bath = response["data"][i]["bathrooms"]
        baths.append(bath)
        
        bed = response["data"][i]["bedrooms"]
        beds.append(bed)
        
        air_dict = {"Identifier": identifiers, "City": cities, "Price": prices, "Adults": adults, "Rating": ratings, "Baths": baths, "Beds": beds}
    
    
    return air_dict

In [19]:
chicago_search_1 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "1")
chicago_bnb_1 = pd.DataFrame(chicago_search_1)
chicago_bnb_1

            Identifier     City           Price  Adults  Rating  Baths  Beds
0             19123858  Chicago   $45 per night       1    4.82      1     0
1   565264608846878165  Chicago   $68 per night       1    4.71      1     1
2   688286334218297067  Chicago   $55 per night       1    5.00      1     1
3             29231503  Chicago   $80 per night       1    4.89      1     1
4   548625798375973502  Chicago   $61 per night       1    4.33      1     1
5             17438902  Chicago   $61 per night       1    4.80      1     1
6             53826192  Chicago   $89 per night       1    4.78      1     1
7   739169593197212763  Chicago   $80 per night       1    5.00      1     1
8             17366144  Chicago   $58 per night       1    4.72      1     1
9   705748124992038935  Chicago   $57 per night       1    4.40      1     0
10            49516679  Chicago   $44 per night       1    4.77      1     1
11            20053035  Chicago   $80 per night       1    4.92      1     0
12            23629667  Chicago   $55 per night       1    4.79      1     1
13  745097597148136764  Chicago   $95 per night       1    4.47      1     1
14            21282070  Chicago   $61 per night       1    4.89      1     1
15            48157334  Chicago   $80 per night       1     NaN      1     1
16            15911102  Chicago   $81 per night       1    4.78      1     1
17            48890562  Chicago   $76 per night       1    4.90      1     1
18            49733686  Chicago   $66 per night       1    4.84      1     0
19            54113319  Chicago   $70 per night       1    4.83      1     1
20            51909711  Chicago   $95 per night       1    4.84      1     1
21            10069247  Chicago   $70 per night       1    4.91      1     1
22            37300218  Chicago   $80 per night       1    4.86      1     1
23            49322858  Chicago   $96 per night       1    4.72      1     1
24            25364755  Chicago   $74 per night       1    4.86      1     1
25            49507376  Chicago   $46 per night       1    4.65      1     1
26            49732675  Chicago   $80 per night       1    4.64      1     0
27            29392758  Chicago   $81 per night       1    4.93      1     0
28  665135946672819599  Chicago   $71 per night       1    4.58      1     0
29            38350907  Chicago   $83 per night       1    4.43      1     1
30            21681234  Chicago   $78 per night       1    4.87      1     1
31  665267097568238532  Chicago   $56 per night       1    4.69      1     0
32            53607748  Chicago   $97 per night       1    4.88      1     1
33            46091235  Chicago   $38 per night       1    4.85      1     1
34            37273935  Chicago   $65 per night       1    4.94      1     1
35            26607433  Chicago   $78 per night       1    4.71      1     1
36  755585779238677077  Chicago   $39 per night       1     NaN      2     1
37  590742957355167963  Chicago   $60 per night       1    4.34      1     1
38            43287506  Chicago   $69 per night       1    4.37      1     1
39  671015054572757157  Chicago  $132 per night       1    4.96      1     0

In [20]:
chicago_search_2 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "2")
chicago_bnb_2 = pd.DataFrame(chicago_search_2)
chicago_bnb_2

            Identifier     City           Price  Adults  Rating  Baths  Beds
0   565264608846878165  Chicago   $68 per night       2    4.71      1     1
1             53826192  Chicago   $89 per night       2    4.78      1     1
2   688286334218297067  Chicago   $55 per night       2    5.00      1     1
3   671015054572757157  Chicago  $132 per night       2    4.96      1     0
4             17366144  Chicago   $58 per night       2    4.72      1     1
5             29231503  Chicago   $80 per night       2    4.89      1     1
6   548625798375973502  Chicago   $61 per night       2    4.33      1     1
7             15911102  Chicago   $81 per night       2    4.78      1     1
8   739169593197212763  Chicago   $80 per night       2    5.00      1     1
9             20053035  Chicago   $80 per night       2    4.92      1     0
10            21282070  Chicago   $61 per night       2    4.89      1     1
11            14166242  Chicago   $85 per night       2    4.86      1     2
12            19123858  Chicago   $45 per night       2    4.82      1     0
13            23629667  Chicago   $55 per night       2    4.79      1     1
14            17438902  Chicago   $61 per night       2    4.80      1     1
15  705748124992038935  Chicago   $57 per night       2    4.40      1     0
16            48890562  Chicago   $76 per night       2    4.90      1     1
17            48157334  Chicago   $80 per night       2     NaN      1     1
18            49732675  Chicago   $80 per night       2    4.64      1     0
19            32741575  Chicago   $73 per night       2    4.76      1     1
20  665267097568238532  Chicago   $56 per night       2    4.69      1     0
21            49322858  Chicago   $96 per night       2    4.72      1     1
22            29392758  Chicago   $81 per night       2    4.93      1     0
23            25364755  Chicago   $74 per night       2    4.86      1     1
24            10069247  Chicago   $70 per night       2    4.91      1     1
25            53612396  Chicago   $94 per night       2    4.79      1     1
26            51909711  Chicago   $95 per night       2    4.84      1     1
27            53607748  Chicago   $97 per night       2    4.88      1     1
28            21681234  Chicago   $78 per night       2    4.87      1     1
29            43442679  Chicago   $57 per night       2    4.82      1     1
30  562452284517338021  Chicago   $83 per night       2    4.63      2     2
31  731919700243917043  Chicago  $115 per night       2    4.80      2     2
32            49516679  Chicago   $44 per night       2    4.77      1     1
33            42153615  Chicago   $54 per night       2    4.83      1     1
34            21052998  Chicago   $60 per night       2    4.76      1     2
35  590742957355167963  Chicago   $60 per night       2    4.34      1     1
36            26607433  Chicago   $78 per night       2    4.71      1     1
37  732739952276429247  Chicago   $99 per night       2    4.40      2     2
38  687897199203990887  Chicago   $67 per night       2    4.69      1     2
39  700756881572123144  Chicago   $87 per night       2    4.89      1     2

In [21]:
chicago_search_3 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "3")
chicago_bnb_3 = pd.DataFrame(chicago_search_3)
chicago_bnb_3

            Identifier     City           Price  Adults  Rating  Baths  Beds
0             30477805  Chicago   $68 per night       3    4.84    1.0     3
1             33071256  Chicago  $199 per night       3    4.88    2.0     2
2   732739952276429247  Chicago   $99 per night       3    4.40    2.0     2
3             54193877  Chicago  $187 per night       3    4.83    2.0     2
4             50481036  Chicago  $160 per night       3    4.84    1.0     2
5   565305631593553488  Chicago   $98 per night       3    4.54    3.0     3
6             49458886  Chicago  $156 per night       3    4.61    1.0     2
7             33036432  Chicago   $85 per night       3    4.79    2.0     3
8   704582593768746311  Chicago  $103 per night       3    4.90    2.0     2
9             14166242  Chicago   $85 per night       3    4.86    1.0     2
10            24010772  Chicago   $94 per night       3    4.80    2.0     3
11            53826192  Chicago   $89 per night       3    4.78    1.0     1
12            15360554  Chicago   $93 per night       3    4.82    2.0     3
13  744956512166164522  Chicago   $90 per night       3    5.00    1.0     2
14  562452284517338021  Chicago   $83 per night       3    4.63    2.0     2
15  565300855768089978  Chicago  $111 per night       3    4.54    3.5     3
16  565264608846878165  Chicago   $68 per night       3    4.71    1.0     1
17            13621242  Chicago   $80 per night       3    4.86    1.5     3
18            41083734  Chicago  $136 per night       3    4.90    1.0     2
19            22000679  Chicago   $85 per night       3    4.83    1.0     2
20  544873274129863601  Chicago   $95 per night       3    4.74    1.0     2
21  753010229647354821  Chicago   $97 per night       3     NaN    1.0     3
22            32990852  Chicago  $199 per night       3    4.87    2.0     2
23            49322858  Chicago   $96 per night       3    4.72    1.0     1
24  597783098841871439  Chicago  $130 per night       3    4.89    1.0     3
25            21422893  Chicago   $97 per night       3    4.85    1.0     2
26            24288027  Chicago   $98 per night       3    4.97    1.0     2
27            20458572  Chicago   $71 per night       3    4.80    2.0     3
28            38880514  Chicago  $116 per night       3    4.84    2.5     2
29  565284835821130118  Chicago   $90 per night       3    4.21    1.0     2
30             7810030  Chicago   $74 per night       3    4.82    1.0     2
31            25802231  Chicago  $106 per night       3    4.93    2.0     3
32  687897199203990887  Chicago   $67 per night       3    4.69    1.0     2
33  731919700243917043  Chicago  $115 per night       3    4.80    2.0     2
34            21052998  Chicago   $60 per night       3    4.76    1.0     2
35            32046743  Chicago   $69 per night       3    4.89    1.0     2
36            17366144  Chicago   $83 per night       3    4.72    1.0     1
37            44375009  Chicago   $72 per night       3    4.71    1.0     3
38  597875959349750748   Berwyn   $70 per night       3    4.90    1.0     2
39  739875623853025154  Chicago   $90 per night       3     NaN    1.0     4

In [22]:
chicago_search_4 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "4")
chicago_bnb_4 = pd.DataFrame(chicago_search_4)
chicago_bnb_4

            Identifier     City           Price  Adults  Rating  Baths  Beds
0   734894870683504598  Chicago  $270 per night       4    5.00    2.5     3
1             34340162  Chicago  $150 per night       4    4.96    2.0     3
2             33071256  Chicago  $199 per night       4    4.88    2.0     2
3             30477805  Chicago   $68 per night       4    4.84    1.0     3
4             24010772  Chicago   $94 per night       4    4.80    2.0     3
5             54193877  Chicago  $187 per night       4    4.83    2.0     2
6   565305631593553488  Chicago   $98 per night       4    4.54    3.0     3
7   732739952276429247  Chicago   $99 per night       4    4.40    2.0     2
8             50481036  Chicago  $160 per night       4    4.84    1.0     2
9   704582593768746311  Chicago  $103 per night       4    4.90    2.0     2
10  562452284517338021  Chicago   $83 per night       4    4.63    2.0     2
11  560158488294195889  Chicago  $250 per night       4    4.85    2.0     3
12            33036432  Chicago   $85 per night       4    4.79    2.0     3
13  565300855768089978  Chicago  $111 per night       4    4.54    3.5     3
14            38905823  Chicago  $147 per night       4    4.79    1.5     1
15            49458886  Chicago  $181 per night       4    4.61    1.0     2
16            13621242  Chicago   $80 per night       4    4.86    1.5     3
17            54090541  Chicago  $137 per night       4    4.93    1.5     3
18            42598993  Chicago  $156 per night       4    4.80    2.0     3
19  744956512166164522  Chicago   $90 per night       4    5.00    1.0     2
20            20458572  Chicago   $71 per night       4    4.80    2.0     3
21            32990852  Chicago  $199 per night       4    4.87    2.0     2
22  753010229647354821  Chicago   $97 per night       4     NaN    1.0     3
23  597783098841871439  Chicago  $130 per night       4    4.89    1.0     3
24            14166242  Chicago   $85 per night       4    4.86    1.0     2
25            38880514  Chicago  $116 per night       4    4.84    2.5     2
26            15360554  Chicago  $118 per night       4    4.82    2.0     3
27            25802231  Chicago  $106 per night       4    4.93    2.0     3
28  739875623853025154  Chicago   $90 per night       4     NaN    1.0     4
29            29209444  Chicago  $101 per night       4    4.60    1.0     4
30            21422893  Chicago   $97 per night       4    4.85    1.0     2
31  565284835821130118  Chicago   $90 per night       4    4.21    1.0     2
32            23799502  Chicago  $116 per night       4    4.81    2.0     4
33  565264608846878165  Chicago   $68 per night       4    4.71    1.0     1
34            54000131  Chicago  $100 per night       4    4.97    2.0     2
35  664586802840910540  Chicago  $141 per night       4    4.77    2.0     3
36  687897199203990887  Chicago   $67 per night       4    4.69    1.0     2
37  753141329387878879  Chicago  $128 per night       4     NaN    2.0     4
38            44375009  Chicago   $72 per night       4    4.71    1.0     3
39  746413567232198556  Chicago   $97 per night       4     NaN    3.0     3

In [23]:
chicago_search_5 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "5")
chicago_bnb_5 = pd.DataFrame(chicago_search_5)
chicago_bnb_5

            Identifier     City           Price  Adults  Rating  Baths  Beds
0   734894870683504598  Chicago  $270 per night       5    5.00    2.5     3
1             34340162  Chicago  $150 per night       5    4.96    2.0     3
2   565305631593553488  Chicago   $98 per night       5    4.54    3.0     3
3   560158488294195889  Chicago  $250 per night       5    4.85    2.0     3
4             24010772  Chicago   $94 per night       5    4.80    2.0     3
5   565300855768089978  Chicago  $111 per night       5    4.54    3.5     3
6             30477805  Chicago   $83 per night       5    4.84    1.0     3
7             33036432  Chicago   $85 per night       5    4.79    2.0     3
8             54193877  Chicago  $212 per night       5    4.83    2.0     2
9             42598993  Chicago  $156 per night       5    4.80    2.0     3
10            38905823  Chicago  $157 per night       5    4.79    1.5     1
11            54090541  Chicago  $137 per night       5    4.93    1.5     3
12  704582593768746311  Chicago  $103 per night       5    4.90    2.0     2
13            33071256  Chicago  $199 per night       5    4.88    2.0     2
14  739875623853025154  Chicago   $90 per night       5     NaN    1.0     4
15            29209444  Chicago  $101 per night       5    4.60    1.0     4
16  562452284517338021  Chicago   $83 per night       5    4.63    2.0     2
17            45971106  Chicago  $149 per night       5    4.75    2.0     3
18  737600228577337279  Chicago  $141 per night       5     NaN    2.0     3
19            23799502  Chicago  $116 per night       5    4.81    2.0     4
20  662408743117925585  Chicago  $288 per night       5    4.87    2.0     4
21  753010229647354821  Chicago  $107 per night       5     NaN    1.0     3
22            25802231  Chicago  $106 per night       5    4.93    2.0     3
23            51017310  Chicago  $164 per night       5    4.76    3.5     6
24            19469602  Chicago  $107 per night       5    4.47    1.0     3
25            44114462  Chicago  $149 per night       5    4.47    1.0     2
26            20458572  Chicago  $101 per night       5    4.80    2.0     3
27  567337905333071669  Chicago  $129 per night       5    4.81    2.0     3
28            49016514  Chicago   $99 per night       5    4.80    1.0     3
29            34122651  Chicago  $100 per night       5    4.69    2.0     3
30  753141329387878879  Chicago  $128 per night       5     NaN    2.0     4
31            50012376  Chicago   $75 per night       5    4.85    1.0     3
32            34818035  Chicago  $111 per night       5    4.80    3.0     3
33            13311675  Chicago  $128 per night       5    4.93    2.0     4
34  732739952276429247  Chicago   $99 per night       5    4.40    2.0     2
35  664586802840910540  Chicago  $141 per night       5    4.77    2.0     3
36  746413567232198556  Chicago   $97 per night       5     NaN    3.0     3
37            10773502  Chicago  $125 per night       5     NaN    2.5     3
38            48826787  Chicago  $119 per night       5    4.44    1.0     3
39  583350872731975888  Chicago  $107 per night       5    4.55    1.0     3

In [25]:
bnb_concat = pd.concat([chicago_bnb_1, chicago_bnb_2, chicago_bnb_3, chicago_bnb_4, chicago_bnb_5], ignore_index = True)

In [42]:
air_data_rename["Identifier"] = air_data_rename["Identifier"].astype(int)

In [51]:
air_data_clean = air_data_rename[air_data_rename["city"] == "Chicago"]

In [52]:
bnb_concat["Identifier"] = bnb_concat["Identifier"].astype(int)

In [76]:
bnb_merged = pd.merge(air_data_clean, bnb_concat, on = "Identifier", how = "inner")
bnb_merged

,Identifier,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,city,City,Price,Adults,Rating,Baths,Beds
0,7810030,#1 neighborhood in Chicago w/ private balcony,173968333,Irena,West Town,41.89780,-87.68158,Entire home/apt,78,1,...,6.26,4,314,Chicago,Chicago,$74 per night,3,4.82,1.0,2
1,10069247,Shared Artist Loft Own Private Room,51668477,Michael,Near North Side,41.88924,-87.63032,Private room,102,1,...,10.97,8,329,Chicago,Chicago,$70 per night,1,4.91,1.0,1
2,10069247,Shared Artist Loft Own Private Room,51668477,Michael,Near North Side,41.88924,-87.63032,Private room,102,1,...,10.97,8,329,Chicago,Chicago,$70 per night,2,4.91,1.0,1
3,13311675,Southwestern Feels with Horses & Tipi / El Mot...,4069585,Liz,Logan Square,41.92443,-87.69994,Entire home/apt,393,2,...,1.32,4,359,Chicago,Chicago,$128 per night,5,4.93,2.0,4
4,13621242,ENTIRE CITY ROW HOUSE WITH 2 CAR PARKING & YARD,25715675,Joyce,East Garfield Park,41.88402,-87.69311,Entire home/apt,65,3,...,4.73,3,74,Chicago,Chicago,$80 per night,3,4.86,1.5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,43287506,S6 NEW Cute Convertible in OldTown,23612069,Tj,Near North Side,41.90744,-87.63509,Private room,74,1,...,5.12,15,87,Chicago,Chicago,$69 per night,1,4.37,1.0,1
74,43442679,Entire City Apartment One block to Train Park ...,28304609,John,East Garfield Park,41.88410,-87.69361,Entire home/apt,54,3,...,5.16,1,44,Chicago,Chicago,$57 per night,2,4.82,1.0,1
75,44114462,BEAUTIFULLY remodeled flat DOWNTOWN,170785489,Dmd,Near North Side,41.89866,-87.63824,Entire home/apt,133,2,...,1.71,31,355,Chicago,Chicago,$149 per night,5,4.47,1.0,2
76,44375009,Logan/Avondale Perfection -2 Min Walk to Blue ...,36745236,Nora,Avondale,41.93936,-87.71605,Entire home/apt,245,2,...,0.59,1,181,Chicago,Chicago,$72 per night,3,4.71,1.0,3
77,44375009,Logan/Avondale Perfection -2 Min Walk to Blue ...,36745236,Nora,Avondale,41.93936,-87.71605,Entire home/apt,245,2,...,0.59,1,181,Chicago,Chicago,$72 per night,4,4.71,1.0,3

In [77]:
del bnb_merged["calculated_host_listings_count"]
del bnb_merged["host_name"]
del bnb_merged["host_id"]
del bnb_merged["minimum_nights"]
del bnb_merged["availability_365"]
del bnb_merged["City"]
del bnb_merged["Price"]

In [78]:
bnb_merged

,Identifier,name,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,last_review,reviews_per_month,city,Adults,Rating,Baths,Beds
0,7810030,#1 neighborhood in Chicago w/ private balcony,West Town,41.89780,-87.68158,Entire home/apt,78,337,3/9/2020,6.26,Chicago,3,4.82,1.0,2
1,10069247,Shared Artist Loft Own Private Room,Near North Side,41.88924,-87.63032,Private room,102,632,20/09/20,10.97,Chicago,1,4.91,1.0,1
2,10069247,Shared Artist Loft Own Private Room,Near North Side,41.88924,-87.63032,Private room,102,632,20/09/20,10.97,Chicago,2,4.91,1.0,1
3,13311675,Southwestern Feels with Horses & Tipi / El Mot...,Logan Square,41.92443,-87.69994,Entire home/apt,393,69,19/04/20,1.32,Chicago,5,4.93,2.0,4
4,13621242,ENTIRE CITY ROW HOUSE WITH 2 CAR PARKING & YARD,East Garfield Park,41.88402,-87.69311,Entire home/apt,65,242,17/09/20,4.73,Chicago,3,4.86,1.5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,43287506,S6 NEW Cute Convertible in OldTown,Near North Side,41.90744,-87.63509,Private room,74,22,20/08/20,5.12,Chicago,1,4.37,1.0,1
74,43442679,Entire City Apartment One block to Train Park ...,East Garfield Park,41.88410,-87.69361,Entire home/apt,54,16,15/09/20,5.16,Chicago,2,4.82,1.0,1
75,44114462,BEAUTIFULLY remodeled flat DOWNTOWN,Near North Side,41.89866,-87.63824,Entire home/apt,133,2,20/08/20,1.71,Chicago,5,4.47,1.0,2
76,44375009,Logan/Avondale Perfection -2 Min Walk to Blue ...,Avondale,41.93936,-87.71605,Entire home/apt,245,1,2/8/2020,0.59,Chicago,3,4.71,1.0,3
77,44375009,Logan/Avondale Perfection -2 Min Walk to Blue ...,Avondale,41.93936,-87.71605,Entire home/apt,245,1,2/8/2020,0.59,Chicago,4,4.71,1.0,3