In [26]:
#import dependencies

import requests
from pprint import pprint
import pandas as pd
import pandas
from sqlalchemy import create_engine
import numpy as np
from config import api_key

# EXTRACT

In [6]:
url = "https://airbnb19.p.rapidapi.com/api/v1/searchPropertyByPlace"

headers = {
"X-RapidAPI-Key": api_key,
"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"
}

def api_search(city_code, currency, adults):

    querystring = {"id": city_code, "currency": currency, "adults": adults, "totalRecords": "40"}

    response = requests.request("GET", url, headers=headers, params=querystring).json()
    
    identifiers, cities, prices, adults, ratings, baths, beds = [], [], [], [], [], [], []

    for i in range(40): 
        identifier = response["data"][i]["id"]
        identifiers.append(identifier)
        
        city = response["data"][i]["city"]
        cities.append(city)
        
        price = response["data"][i]["accessibilityLabel"]
        prices.append(price)
        
        adult = response["data"][i]["adults"]
        adults.append(adult)

        rating = response["data"][i]["avgRating"]
        ratings.append(rating)

        bath = response["data"][i]["bathrooms"]
        baths.append(bath)
        
        bed = response["data"][i]["bedrooms"]
        beds.append(bed)
        
        air_dict = {"Identifier": identifiers, "City": cities, "Price": prices, "Adults": adults, "Rating": ratings, "Baths": baths, "Beds": beds}
    
    return air_dict

In [7]:
chicago_search_1 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "1")
chicago_bnb_1 = pd.DataFrame(chicago_search_1)
#chicago_bnb_1

In [8]:
chicago_search_2 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "2")
chicago_bnb_2 = pd.DataFrame(chicago_search_2)
#chicago_bnb_2

In [9]:
chicago_search_3 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "3")
chicago_bnb_3 = pd.DataFrame(chicago_search_3)
#chicago_bnb_3

In [10]:
chicago_search_4 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "4")
chicago_bnb_4 = pd.DataFrame(chicago_search_4)
#chicago_bnb_4

In [11]:
chicago_search_5 = api_search("ChIJ7cv00DwsDogRAMDACa2m4K8", "USD", "5")
chicago_bnb_5 = pd.DataFrame(chicago_search_5)
#chicago_bnb_5

In [12]:
data_to_load = "Resources/airbnb_listings.csv"
air_data = pd.read_csv(data_to_load)
air_data

C:\Users\GMyer\AppData\Local\Temp\ipykernel_62884\3088446070.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  air_data = pd.read_csv(data_to_load)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.597790,-82.555400,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,NaN,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,NaN,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,NaN,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,NaN,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

# TRANSFORM

In [13]:
del air_data["neighbourhood"]
del air_data["neighbourhood_group"]

air_data

,id,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,35.597790,-82.555400,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [14]:
air_data_rename = air_data.rename(columns = {"id": "Identifier"})
air_data_rename

,Identifier,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,35.597790,-82.555400,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [15]:
bnb_concat = pd.concat([chicago_bnb_1, chicago_bnb_2, chicago_bnb_3, chicago_bnb_4, chicago_bnb_5], ignore_index = True)

In [16]:
air_data_rename["Identifier"] = air_data_rename["Identifier"].astype(int)

In [27]:
bnb_concat["Identifier"] = bnb_concat["Identifier"].astype(np.int64)

In [28]:
air_data_clean = air_data_rename[air_data_rename["city"] == "Chicago"]

In [29]:
bnb_merged = pd.merge(air_data_clean, bnb_concat, on = "Identifier", how = "inner")
bnb_merged

,Identifier,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,...,reviews_per_month,calculated_host_listings_count,availability_365,city,City,Price,Adults,Rating,Baths,Beds
0,7810030,#1 neighborhood in Chicago w/ private balcony,173968333,Irena,41.89780,-87.68158,Entire home/apt,78,1,337,...,6.26,4,314,Chicago,Chicago,$74 per night,3,4.82,1.0,2
1,10069247,Shared Artist Loft Own Private Room,51668477,Michael,41.88924,-87.63032,Private room,102,1,632,...,10.97,8,329,Chicago,Chicago,$70 per night,1,4.91,1.0,1
2,10069247,Shared Artist Loft Own Private Room,51668477,Michael,41.88924,-87.63032,Private room,102,1,632,...,10.97,8,329,Chicago,Chicago,$70 per night,2,4.91,1.0,1
3,10547772,Comfy 2 BR West Town Apartment,5325851,Josh,41.89590,-87.66574,Entire home/apt,92,3,162,...,2.96,4,0,Chicago,Chicago,$74 per night,2,4.65,1.0,2
4,10547772,Comfy 2 BR West Town Apartment,5325851,Josh,41.89590,-87.66574,Entire home/apt,92,3,162,...,2.96,4,0,Chicago,Chicago,$74 per night,3,4.65,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,42598993,Trendy 3 bd West Town Flat w Free Garage Prkg!,54076186,Ovation,41.89580,-87.66456,Entire home/apt,127,1,12,...,5.54,2,72,Chicago,Chicago,$156 per night,4,4.80,2.0,3
72,42598993,Trendy 3 bd West Town Flat w Free Garage Prkg!,54076186,Ovation,41.89580,-87.66456,Entire home/apt,127,1,12,...,5.54,2,72,Chicago,Chicago,$156 per night,5,4.80,2.0,3
73,43287506,S6 NEW Cute Convertible in OldTown,23612069,Tj,41.90744,-87.63509,Private room,74,1,22,...,5.12,15,87,Chicago,Chicago,$69 per night,1,4.37,1.0,1
74,43442679,Entire City Apartment One block to Train Park ...,28304609,John,41.88410,-87.69361,Entire home/apt,54,3,16,...,5.16,1,44,Chicago,Chicago,$55 per night,2,4.82,1.0,1
75,44114462,BEAUTIFULLY remodeled flat DOWNTOWN,170785489,Dmd,41.89866,-87.63824,Entire home/apt,133,2,2,...,1.71,31,355,Chicago,Chicago,$149 per night,5,4.47,1.0,2

In [30]:
del bnb_merged["calculated_host_listings_count"]
del bnb_merged["host_name"]
del bnb_merged["host_id"]
del bnb_merged["minimum_nights"]
del bnb_merged["availability_365"]
del bnb_merged["City"]
del bnb_merged["Price"]

In [31]:
bnb_merged

,Identifier,name,latitude,longitude,room_type,price,number_of_reviews,last_review,reviews_per_month,city,Adults,Rating,Baths,Beds
0,7810030,#1 neighborhood in Chicago w/ private balcony,41.89780,-87.68158,Entire home/apt,78,337,3/9/2020,6.26,Chicago,3,4.82,1.0,2
1,10069247,Shared Artist Loft Own Private Room,41.88924,-87.63032,Private room,102,632,20/09/20,10.97,Chicago,1,4.91,1.0,1
2,10069247,Shared Artist Loft Own Private Room,41.88924,-87.63032,Private room,102,632,20/09/20,10.97,Chicago,2,4.91,1.0,1
3,10547772,Comfy 2 BR West Town Apartment,41.89590,-87.66574,Entire home/apt,92,162,11/9/2020,2.96,Chicago,2,4.65,1.0,2
4,10547772,Comfy 2 BR West Town Apartment,41.89590,-87.66574,Entire home/apt,92,162,11/9/2020,2.96,Chicago,3,4.65,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,42598993,Trendy 3 bd West Town Flat w Free Garage Prkg!,41.89580,-87.66456,Entire home/apt,127,12,9/9/2020,5.54,Chicago,4,4.80,2.0,3
72,42598993,Trendy 3 bd West Town Flat w Free Garage Prkg!,41.89580,-87.66456,Entire home/apt,127,12,9/9/2020,5.54,Chicago,5,4.80,2.0,3
73,43287506,S6 NEW Cute Convertible in OldTown,41.90744,-87.63509,Private room,74,22,20/08/20,5.12,Chicago,1,4.37,1.0,1
74,43442679,Entire City Apartment One block to Train Park ...,41.88410,-87.69361,Entire home/apt,54,16,15/09/20,5.16,Chicago,2,4.82,1.0,1
75,44114462,BEAUTIFULLY remodeled flat DOWNTOWN,41.89866,-87.63824,Entire home/apt,133,2,20/08/20,1.71,Chicago,5,4.47,1.0,2

# LOAD

In [33]:
#starter code from slack posts
dialect_driver = "postgresql"
# user = "postgres"
# pw = "pw"
host = "localhost"
port = 5432
default_db = "airbnb_database"
from config import username, password

engine = create_engine(f"{dialect_driver}://{username}:{password}@{host}:{port}/{default_db}")

# connect the pandas dataframe with postgresql table
bnb_merged.to_sql("airbnb_database", engine, if_exists='replace')

76

In [34]:
engine.dispose()